/* variables */

$blue:#c4f7ff;
$dark-gray:#222222;
$green:#d4fc45;
$orange:#ecab20;
$red:#ff3e00;
$white:#ffffff;
$yellow:#f9ef14;

/* viewports */

$tablet:46.875rem;

/* overrides */

html,
body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

body {
  background-image: url('../images/options-background.svg');
  color: $white;
}

a {
  color: $orange;
}


/* blocks */

.container {
  padding: 3.5rem 0 0;
}

.header {
  text-align: center;
  .title {
    font-family: 'Roboto Slab', serif;
    font-size: 2rem;
    letter-spacing: .24375rem;
    margin: .625rem 0 0;
    text-transform: uppercase;
  }
  .subtitle {
    margin: .75rem 0 0;
    font-weight: 300;
  }
}

.body {
  margin: 2.3125rem 0 0;
  h2,
  h3 {
    letter-spacing: .1rem;
    text-transform: uppercase;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1rem;
  }
  @media (min-width: $tablet) {
    margin: 4.625rem 0 0;
    h2 {
      margin: 0 0 .875rem;
    }
    h3 {
      margin: 0 0 .5rem;
    }
  }
}

.left-panel,
.right-panel {
  position: relative;
}

.footer {
  font-size: .75rem;
  margin: 2.625rem 0;
  text-align: center;
}


/* elements */

.levels-help-chart {
  margin: 0 0 5.0625rem;
  @media (min-width: $tablet) {
    margin: 10.125rem 0 0;
  }
}

.levels-help-description {
  @media (min-width: $tablet) {
    position: absolute;
  }
}

.levels-help-list {
  margin: 1.625rem 0 0;
  li::before {
    content: '- ';
  }
  li {
    margin: 0 0 .5rem;
    list-style: none;
  }
  .blue {
    color: $blue;
  }
  .yellow {
    color: $yellow;
  }
  .white {
    color: $white;
  }
  .orange {
    color: $orange;
  }
}

input.access-token-field[type=text] {
  width: 100%;
  @media (min-width: $tablet) {
    border-radius: 0;
    border: none;
    font-size: 1.1rem;
    height: 3.0625rem;
    margin: 0;
  }
}

.access-token-field-help {
  margin: 1.25rem 0 0;
}

.access-token-form {
  @media (min-width: $tablet) {
    position: absolute;
  }
}

.access-token-save-button-wrapper {
  @media (min-width: $tablet) {
    align-items: center;
    background-color: $white;
    display: flex;
    height: 3.0625rem;
    justify-content: flex-end;
    margin: 0;
    padding: 0 .375rem 0 0;
  }
}

.access-token-save-button {
  background-color: $dark-gray;
  color: $white;
  @media (min-width: $tablet) {
    border: none;
    height: 2.3125rem;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 5.0625rem;
  }
}

.alert-text {
  color: $red;
}

.progress-bar {
  border: 1px $white solid;
  height: 3.0625rem;
}

.progress-bar-help {
  margin: .5rem 0 0;
}

.progress-bar-filled {
  background-color: $red;
  height: 100%;
  width: 0%;
}

.progress-bar-text {
  @media (min-width: $tablet) {
    align-items: center;
    display: flex;
    font-size: 1.5rem;
    height: 3.0625rem;
    justify-content: center;
    margin: 0;
    width: 26%;
  }
}

.progress-bar-wrapper {
  margin: 2rem 0 .75rem;
  @media (min-width: $tablet) {
    margin: 13.7625rem 0 1.5rem;
  }
}

.small-text {
  font-size: .75rem;
}
