/* variables */

$orange: #ecab20;
$white: #ffffff;

/* overrides */

html,
body {
  font-size: 16px;
}

body {
  background-image: url('../images/options-background.svg');
  color: $white;
}

a {
  color: $orange;
}
