html {
    font-size: 20px;
}

body {
    min-width: 20rem;
    padding: 1rem 2rem;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

.extension.name {
    text-align: center;
}

.help.text {
    display: none;

    h2 {
        text-align: center;
    }

    li {
        line-height: 2;
    }
}

.statistics {
    .row {
        display: flex;
        flex: 1;
        flex-wrap: wrap;
        height: 3rem;
    }

    .name, .value {
        align-items: center;
        display: flex;
        flex: 0 0 50%;
        justify-content: center;
    }

    .name {
        letter-spacing: .05rem;
    }

    .value {
        font-size: 1.5rem;
        font-weight: 300;
        letter-spacing: .1rem;
    }
}

.token.used {
    text-transform: uppercase;
}
