{
  "presets": [
    ["env", { "target": { "browser": "last 2 versions" } }],
    "react"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-decorators-legacy",
    "transform-runtime"
  ],
  "ignore": ["node_modules"]
}
