{
  "extends": "airbnb",
  "env": {
    "browser": true
  },
  "globals": {
    "chrome": true,
    "crypto": true
  },
  "parser": "babel-eslint",
  "rules": {
    "strict": 0,
    "no-console": 0
  }
}
