.awesome-stars {
    border: 1px solid darkgray;
    border-radius: .25rem;
    font-size: .95rem;
    margin: 0 .25rem;
    padding: .1rem .25rem;
}

.star-10000 {
    color: red;
}

.star-5000 {
    color: blue;
}

.star-1000 {
    color: green;
}
