@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700|Noto+Sans:400,700);

body {
    background-color: #eee;
}

header h1 {
    margin: 4rem 0;
    text-align: center;
}

#rate-limit {
    border: 1px solid #aaa;
    border-radius: .25rem;
    font-family: Helvetica, sans-serif;
    text-align: right;
    padding: .5rem 1rem;
}
